
$pagination-current-background-color: #00d1b2 !default;
$pagination-active-border-color: transparent !default;
$pagination-current-border-color: transparent !default;

@import '../node_modules/bulma/bulma.sass';